.root {
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  outline: none;
  color: #888;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;

  .selected {
    display: flex;
    align-items: center;
    height: 100%;
    color: #9ab;

    &:hover {
      background: rgba(150, 157, 50, 0.1);
      color: #ccc;
    }

    border: 1px solid rgba(80, 80, 80, 0.3);
    padding: 2px 8px 2px 8px;
  }

  .options-anchor {
    position: relative;
  }

  .options {
    position: absolute;
    min-width: 100%;
    z-index: 41; // Just above maximized golden-layout

    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(80, 80, 80, 0.5);
    top: -1px;
    white-space: nowrap;

    .option {
      padding: 4px 8px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .icon {
        margin-left: 4px;
      }

      &:hover {
        background: rgba(50, 50, 50, 0.7);
        color: #ccc;
      }

      &.highlighted {
        background: rgba(100, 50, 50, 0.7);
      }
    }
  }
}
