.root {
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  color: #abc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  .selected {
    display: flex;
    border: 1px solid #555;
    padding: 0 4px 4px 4px;
  }

  &.open .selected {
    border-bottom: none;
  }

  .options-anchor {
    position: relative;
  }

  .options {
    position: absolute;
    min-width: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
    padding: 4px;
    border: 1px solid #555;

    .option {
      &:hover {
        background: rgba(50, 50, 50, 0.7);
      }
    }
  }
}
