.root {
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  outline: none;
  color: #aaa;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  .selected {
    display: flex;
    border: 1px solid rgba(80, 80, 80, 0.5);
    padding: 0 4px 2px 4px;
  }

  .options-anchor {
    position: relative;
  }

  .options {
    position: absolute;
    min-width: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(80, 80, 80, 0.5);
    top: -1px;
    white-space: nowrap;

    .option {
      padding: 1px 4px;
      &:hover {
        background: rgba(50, 50, 50, 0.7);
      }
      &.highlighted {
        background: rgba(100, 50, 50, 0.7);
      }
    }
  }
}
