.svg {
  border: 1px solid #000;
}

.grid-line {
  stroke: #ccc;
}

.mouse-rect {
  pointer-events: bounding-box;
  width: 100%;
  height: 100%;
  fill: none;
}

.cursor {
  fill: #edd;
  pointer-events: none;
}