@import '../variables.scss';

body {
  // https://stackoverflow.com/a/56071966/2917822
  // overscroll-behavior-x: none;
  overscroll-behavior: none;
}

.root {
  width: 100%;
  height: 100%;
  background: $level-background;
  border: 1px solid #000;
}

.keys {
  width: 100%;
  height: 100%;
  outline: none;
}

.menu {
  display: flex;
  border-bottom: 1px solid #ddd;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 10%, #ffffff 10%, #ffffff 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 60%, #ffffff 60%, #ffffff 100%);
  background-size: 10.00px 10.00px;
  
  box-sizing: border-box;
  height: 25px;
  padding: 2px;

  .main-menu {
    display: flex;
  }
  
  .edit-menu {
    flex: 1;
    display: flex;

    .filename-input {
      padding: 0 4px;
      font-family: 'Courier New', Courier, monospace;
    }
  }

  .button {
    color: rgba(0, 0, 0, 0.3);
    margin: 0 3px;

    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;

    &.pressed {
      color: black;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.viewport {
  width: 100%;
  height: calc(100% - 25px);
  position: relative;

  .meta-points-popover  {
    position: absolute;
    background: white;
    border: 1px solid #aaa;
    top: 0px;
  }
}

.svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.svg-grid {
  pointer-events: none;

  &-path {
    stroke: $level-grid-color;
  }
  &-refined-path {
    stroke: $level-grid-refined-color;
  }
}

.mouse-rect {
  pointer-events: all;
  width: 100%;
  height: 100%;
  fill: none;
}

.cursor {
  fill: rgba(180, 180, 220, 0.2);
  pointer-events: none;

  .highlight {
    fill: rgba(200, 0, 0, 0.5);
  }
}

.base-floor {
  stroke-width: 1;
  stroke: rgba(0,0,0,1);
  fill: $level-floor-fill;
}

.navigable {
  fill: $level-navigable-fill;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 0.3;
  // fill: url(#stripe-pattern);
}

.triangle {
  fill: none;
  stroke: $level-navigable-stroke;
  stroke-width: 0.2;
  stroke-linecap: round;
}

.wall-seg {
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 1;
  // Ensures correct overlap
  stroke-linecap: square;
}

.level-points {
  cursor: pointer;
  pointer-events: all;
  fill: white;
  stroke: black;
  stroke-width: 0.2;
}

.svg-nav-node {
  fill: $nav-node-color;
}

.svg-nav-edge {
  stroke: $nav-node-color;
  stroke-width: 0.5;
}
