@import '../variables.scss';

html {
  overscroll-behavior: none; // Firefox
  body {
    overscroll-behavior: none; // Chrome
    // Safari?
  }
}

.root {
  width: 100%;
  height: 100%;
  border: 1px solid #000;

  @at-root .root.light-mode {
    background: $level-bg-light; 
  }
  @at-root .root.dark-mode {
    background: $level-bg-dark; 
  }

  .keys {
    width: 100%;
    height: 100%;
    outline: none;

    .menu {
      display: flex;
      border-bottom: 1px solid #ddd;

      @at-root .light-mode .keys .menu {
        background: $level-menu-light;
      }
      @at-root .dark-mode .keys .menu {
        background: $level-menu-dark;
      }
      
      box-sizing: border-box;
      height: 25px;
      padding: 2px;
    
      .main-menu {
        display: flex;
      }
      
      .edit-menu {
        flex: 1;
        display: flex;
    
        .filename-input {
          padding: 0 4px;
          font-family: 'Courier New', Courier, monospace;
          outline: none;
          width: 80px;
        }
      }
    
      .button {
        margin-left: 1px;
        outline: 0;
        border: 0;
    
        @at-root .light-mode .keys .menu .button {
          background: $level-bg-light;
          color: $level-text-light;
        }
        @at-root .dark-mode .keys .menu .button {
          background: $level-bg-dark;
          color: $level-text-dark;
        }

        cursor: pointer;
        font-family: 'Courier New', Courier, monospace;
    
        &:hover {
          font-weight: bold;
        }
        &.enabled {
          text-decoration: underline;
        }
      }
    }
  }
}

.viewport {
  width: 100%;
  height: calc(100% - 25px);
  position: relative;
  overflow: hidden;

  .svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    .mouse-rect {
      pointer-events: all;
      width: 100%;
      height: 100%;
      fill: none;
    }

    .base-floor {
      stroke-width: 1;

      @at-root .light-mode .base-floor {
        fill: $level-floor-light;
        stroke: $level-wall-light;
      }
      @at-root .dark-mode .base-floor {
        fill: $level-floor-dark;
        stroke: $level-wall-dark;
      }

      @at-root .light-mode.three-d .base-floor {
        stroke: #777;
        stroke-width: 0.5;
      }
      @at-root .dark-mode.three-d .base-floor {
        stroke: #999;
        stroke-width: 0.5;
      }
    }
  
    .wall-seg {
      stroke-width: 1;
      // Ensures correct overlap
      stroke-linecap: square;

      @at-root .light-mode .wall-seg {
        stroke: $level-wall-light;
      }
      @at-root .dark-mode .wall-seg {
        stroke: $level-wall-dark;
      }

      @at-root .light-mode.three-d .wall-seg {
        stroke: #777;
        stroke-width: 0.5;
      }
      @at-root .dark-mode.three-d .wall-seg {
        stroke: #999;
        stroke-width: 0.5;
      }
    }
  
    .navigable {
      @at-root .light-mode .viewport .navigable {
        fill: $level-navigable-light;
      }
      @at-root .dark-mode .viewport .navigable {
        fill: $level-navigable-dark;
        stroke: rgba(0, 0, 0, 0.5);
      }
      
      stroke-width: 0.3;
      // fill: url(#stripe-pattern);

    }
  
    .triangle {
      @at-root .light-mode .viewport .triangle {
        stroke: $level-triangle-light;
      }
      @at-root .dark-mode .viewport .triangle {
        stroke: $level-triangle-dark;
      }

      fill: none;
      stroke-width: 0.1;
      // stroke-linecap: round;
    }

    .nav-graph-node {
      @at-root .light-mode .viewport .nav-graph-node {
        fill: $level-navnode-light;
      }
      @at-root .dark-mode .viewport .nav-graph-node {
        fill: $level-navnode-dark;
      }
    }

    .nav-graph-edge {
      stroke-width: 0.1;
      @at-root .light-mode .viewport .nav-graph-edge {
        stroke: $level-navnode-light;
      }
      @at-root .dark-mode .viewport .nav-graph-edge {
        stroke: $level-navnode-dark;
      }
    }
  
    .cursor {
      fill: rgba(180, 180, 220, 0.2);
      pointer-events: none;
    
      .highlight {
        fill: rgba(200, 0, 0, 0.5);
      }
    }
    
    .metas {
      
      .meta-handle {
        fill: white;
        stroke: black;
        stroke-width: 0.2;
      }

      .meta-radius {
        stroke-width: 0.1;
        stroke: rgba(0, 0, 0, 0.5);

        @at-root .light-mode .viewport .meta-radius {
          fill: rgba(200, 0, 0, 0.2);
        }
        @at-root .dark-mode .viewport .meta-radius {
          fill: rgba(200, 200, 200, 0.3);
        }
      }

      .meta-rect {
        stroke: rgba(0, 0, 0, 0.5);
        stroke-width: 0.1;

        @at-root .light-mode .viewport .meta-rect {
          fill: rgba(200, 0, 0, 0.2);
        }
        @at-root .dark-mode .viewport .meta-rect {
          fill: rgba(200, 200, 200, 0.3);
        }
      }

      .drag-indicator {
        stroke-width: 0.1;

        @at-root .light-mode .viewport .drag-indicator {
          fill: $level-drag-fill-light;
          stroke: $level-drag-stroke-light;
        }
        @at-root .dark-mode .viewport .drag-indicator {
          fill: $level-drag-fill-dark;
          stroke: $level-drag-stroke-dark;
        }
      }
    }

    .nav-paths {
      @at-root .light-mode .nav-paths {
        circle {
          fill: $level-navpath-light;
        }
        line {
          stroke-width: 0.1;
          stroke: $level-navpath-light;
        }
      }
      @at-root .dark-mode .nav-paths {
        circle, line {
          fill: $level-navpath-dark;
        }
        line {
          stroke-width: 0.1;
          stroke: $level-navpath-dark;
        }
      }
    }

    .svg-grid {
      pointer-events: none;
    
      @at-root .light-mode .viewport .svg .svg-grid {
        &-path {
          stroke: $level-grid-light;
        }
        &-refined-path {
          stroke: $level-grid-refined-light;
        }
      }
      @at-root .dark-mode .viewport .svg .svg-grid {
        &-path {
          stroke: $level-grid-dark;
        }
        &-refined-path {
          stroke: $level-grid-refined-dark;
        }
      }
    }
  }

  .overlay-container {
    position: absolute;
    top: 0px;
    pointer-events: none;

    .overlay {
      position: relative;
    
      .meta-popover  {
        position: absolute;
        background: white;
        border: 1px solid rgba(150, 150, 150, 1);
        // border-radius: 1px;
        top: 0px;
        
        transform: scale(0.5);
        transform-origin: top left;

        .content {
          box-sizing: border-box;
          width: fit-content;
          height: fit-content;
          padding: 4px 2px;

          font-family: 'Courier New', Courier, monospace;
          font-size: 6pt;
          user-select: none;

          input {
            width: 60px;
            font-family: 'Courier New', Courier, monospace;
            outline: none;
            border: none;
            padding: 0 0 2px;
            font-size: smaller;
          }
          .tags {
            display: flex;
            flex-wrap: wrap;
            user-select: none;

            .tag {
              cursor: pointer;
              padding: 0 2px;
              background: #eee;
              font-size: smaller;
            }
          }
        }
      }
    }

    .container-three-d {
      pointer-events: none;
      position: absolute;
      perspective: 1000px;

      .wall {
        position: absolute;
        transform-origin: top left;
        height: 10000px;

        @at-root .light-mode .viewport .container-three-d .wall {
          background: #000;
        }
        @at-root .dark-mode .viewport .container-three-d .wall {
          background: #fff;
        }
      }

      .cull-backface {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
      }

    }
  }

}
