.menu {
  display: flex;
  background: #111;
  box-sizing: border-box;
  font-family: monospace;

  .toolbar {
    display: flex;
    width: 100%;
  }

  .toolbar .logo {
    display: flex;
    align-items: center;
    padding: 0 8px;

    font-size: 13px;
    color: #ccd;

    background-image: linear-gradient(
      135deg,
      #111111 40%,
      #333333 40%,
      #333333 50%,
      #111111 50%,
      #111111 90%,
      #333333 90%,
      #333333 100%
    );
    background-size: 5.07px 5.07px;

    span {
      color: #5ca;
      &.left {
        padding: 2px 2px 0 3px;
      }
      &.middle {
        padding: 2px 4px 0 4px;
      }
      &.right {
        padding: 2px 0 0 1px;
      }
    }
  }

  .toolbar .controls {
    display: flex;
    align-items: stretch;

    width: 100%;
    justify-content: space-between;
    color: #777;
  }

  .toolbar .left-controls {
    display: flex;
  }

  .toolbar .right-controls {
    display: flex;

    .home-link {
      margin-left: 4px;
      display: flex;
      align-self: center;
      padding-top: 2px;

      a {
        text-decoration: none;
        font-size: 12px;
        color: #888;
        .controls-disabled & {
          pointer-events: none;
        }
        &:hover {
          color: #ccc;
        }
      }
    }
  }
}

.hidden-monaco-editor {
  display: none;
}
