.root {
  .header {
    width: 500px;
    display: flex;
    justify-content: flex-end;

    a {
      font-family: "Courier New", Courier, monospace;
      font-size: small;
      color: #009;
      cursor: pointer;
    }
  }
}
