.unsupported-panel {
  color: red;
  background: white;
  padding: 8px;
  margin: 8px;
}

.menu-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 30px;
  padding: 8px 0;

  background: rgba(20, 20, 20, 0.8);
  color: #fff;
  border: 1px solid #323232;
  border-radius: 2px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .select-file {
    margin-left: 8px;
    background: none;
    color: #aaa;
    border-color: #666;
    outline-color: #999;
  }

  .exit-button {
    margin-right: 8px;
    font-size: 12px;
    cursor: pointer;
    color: #999;
  }
}
