.root {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 41;

  .panel {
    position: absolute;
    min-width: 100%;
    z-index: 41; // Just above maximized golden-layout

    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(80, 80, 80, 0.5);
    top: -1px;
    white-space: nowrap;

    .item {
      padding: 4px 8px;

      &:hover {
        background: rgba(50, 50, 50, 0.7);
        color: #ccc;
      }

      &.highlighted {
        background: rgba(100, 50, 50, 0.7);
      }
    }
  }
}
