$width: 500px;
$monaco-bg: #1e1e1e;
$pane-border: 1px solid #555;

.root {
  .header {
    width: $width;
    display: flex;
    justify-content: flex-end;
    * {
      margin-left: 8px;
    }

    a {
      font-family: "Courier New", Courier, monospace;
      font-size: small;
      color: #009;
      cursor: pointer;
    }
  }

  .editor-and-view {
    display: flex;
    flex-wrap: wrap;

    .editor {
      border: $pane-border;
      border-width: 0 1px;
      background: $monaco-bg;

      width: $width;
    }

    .view {
      width: $width;
      border: $pane-border;
      // padding-left: 4px;
    }
  }
}
