.unsupported-panel {
  color: red;
  background: white;
  padding: 8px;
  margin: 8px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;

  color: #aaa;

  &:hover {
    color: white;
    background-color: rgb(40, 40, 40);
    transition: background-color 300ms ease-in;
  }

  &:not(:hover) {
    background-color: rgb(35, 30, 30);
    transition: background-color 500ms ease-out;
  }

  .menu-options {
    padding: 2px 0;
  }

  .select-file {
    margin-left: 8px;
    background: none;
    color: #aaa;
    border-color: #444;
    outline-offset: 0;
    outline-width: 0.5;
  }

  .toggle-indicator {
    margin-right: 8px;
    font-size: 10px;
    user-select: none;
  }

  &.menu-closed {
    .menu-options {
      visibility: none;
      height: 14px;
      opacity: 0;
      transition: height 200ms ease-out;
    }
  }

  &.menu-open {
    background-image: linear-gradient(
      135deg,
      #333333 16.67%,
      #111111 16.67%,
      #111111 50%,
      #333333 50%,
      #333333 66.67%,
      #111111 66.67%,
      #111111 100%
    );
    background-size: 4.24px 4.24px;

    .menu-options {
      visibility: visible;
      height: 23px;
      opacity: 1;
      transition: height 200ms ease-in, opacity 200ms ease-in;
    }

    .toggle-indicator {
      margin-top: 2px;
    }
  }
}
