.monaco-tsx-editor {
  .in-JsxOpeningElement,
  .in-JsxClosingElement,
  .in-JsxSelfClosingElement {
    &.is-Identifier {
      color: #f55;
    }
  }
  .is-JsxText:not(.in-JsxExpression) {
    color: #fff;
  }
  .is-Identifier.in-JsxAttribute {
    &.is-JsxOpeningElement {
      color: #daa;
    }
    &.is-JsxSelfClosingElement {
      color: #daa;
    }
  }
  .in-JsxExpression.is-OpenBraceToken {
    color: #99f;
  }
  .in-JsxExpression.is-CloseBraceToken {
    color: #99f;
  }
  .is-DotToken + .is-PropertyAccessExpression {
    color: #dda;
  }
  .is-PropertyAccessExpression {
    color: #abf;
  }
}
