.monaco-tsx-editor {
  .jsx-text {
    color: #fff;
  }
  .jsx-tag {
    color: #f55;
  }
  .jsx-attr {
    color: #daa;
  }
  .jsx-brace {
    color: #99f;
  }
  .jsx-property {
    color: #dda;
  }
}
