@import "../../node_modules/golden-layout/src/css/goldenlayout-base.css";
@import "../../node_modules/golden-layout/src/css/goldenlayout-dark-theme.css";

body {
  margin: 0;
}

.lm_header {
  .lm_tab {
    border: 1px solid #333;
    border-width: 1px 1px 0 0;
    // &.lm_active {}
  }
  .lm_close {
    // Hide close button for multiple panels
    display: none !important;
  }
}

.connected-golden-layout {
  .disabled {
    pointer-events: none;
  }

  .no-closing {
    .lm_close_tab,
    .lm_close {
      pointer-events: none;
    }
  }
}
