# .vscode

.DS_Store
node_modules

.next
out/*

babel.config.js
jest.config.js
next.config.js
styles.config.js
postcss.config.js
other.config.js

yarn-error.log

analyze/

3d/*.blend
3d/*.blend1
3d/*.gltf
