@import '../variables';

.root {
  position: relative;
  width: $nav-box-dimension;
  height: $nav-box-dimension;
  outline: 1px solid rgba(0, 0, 0, 0.05);
}

.tile-base {
  width: $nav-line-thickness;
  height: $nav-line-thickness;
  background: $nav-box-color;
  position: absolute;
}

.children {
  position: absolute;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
