$box-dimension: 80px;
$line-thickness: 4px;


.root {
  position: relative;
  width: $box-dimension;
  height: $box-dimension;
  outline: 1px solid rgba(0, 0, 0, 0.05);
}

.tileBase {
  width: $line-thickness;
  height: $line-thickness;
  background: #000;
  position: absolute;
}

.children {
  position: absolute;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
