.demo-1-root {
  display: flex;
}

.demo-1-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}
