.top-panel {
  display: flex;
  justify-content: flex-end;
}

.save-button {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.terminal {
  padding-left: 2px;
  background: black;
}