.container {
  background: #222;
}

.top-panel {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #444;
}

.save-button {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
  margin-right: 5px;
  cursor: pointer;

  &:hover {
    color: yellow;
  }
}

.terminal {
  border: 1px solid black;
  border-left-width: 2px;
  border-radius: 2px;
}