/* https://github.com/Inter-Net-Pro/Theme-VSCode-Dark/blob/master/vscode-dark.css */

.cm-s-vscode-dark span.cm-meta {color: #569cd6}
.cm-s-vscode-dark span.cm-number {color: rgb(238, 238, 198)}
.cm-s-vscode-dark span.cm-keyword {line-height: 1em; font-weight: bold; color: rgb(91, 157, 211);}
.cm-s-vscode-dark span.cm-keyword-2 {line-height: 1em; font-weight: bold; color: #c586c0;}
.cm-s-vscode-dark span.cm-def {color:rgb(153, 216, 250)}
.cm-s-vscode-dark span.cm-def-2 {color:rgb(220, 220, 170)}
.cm-s-vscode-dark span.cm-variable {color: #ddd6a3}
.cm-s-vscode-dark span.cm-variable-2 {color: #49b8f4}
.cm-s-vscode-dark span.cm-variable-3,
.cm-s-vscode-dark span.cm-type {color: #A9B7C6}
.cm-s-vscode-dark span.cm-property {color: #9cdcfe}
.cm-s-vscode-dark span.cm-operator {color: #d4d4d4}
.cm-s-vscode-dark span.cm-string {color: rgb(206, 145, 120)}
.cm-s-vscode-dark span.cm-string-2 {color: #abd394}
.cm-s-vscode-dark span.cm-comment {color: #6A9955}
.cm-s-vscode-dark span.cm-link {color: #287BDE}
.cm-s-vscode-dark span.cm-atom {color: #569cd6}
.cm-s-vscode-dark span.cm-error {color: #BC3F3C}
.cm-s-vscode-dark span.cm-tag {color: #59a8e8}
.cm-s-vscode-dark span.cm-attribute {color: #9cdcfe}
.cm-s-vscode-dark span.cm-qualifier {color: #d7ba7d}
.cm-s-vscode-dark span.cm-bracket {color: #808080}

.cm-s-vscode-dark.CodeMirror {background: #1e1e1e; color: #e9e9e9;}
.cm-s-vscode-dark .CodeMirror-cursor {border-left: 1px solid #bebebe;}
.CodeMirror-activeline-background {background: #3A3A3A;}
.cm-s-vscode-dark div.CodeMirror-selected {background: #1e496c}
.cm-s-vscode-dark .CodeMirror-gutters {background: #252526; border-right: 1px solid grey; color: #606366}
.cm-s-vscode-dark span.cm-builtin {color: #A9B7C6;}
.cm-s-vscode-dark {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
  line-height: 1.4;
}
.cm-s-vscode-dark .CodeMirror-matchingbracket {background-color: #3b514d; color: yellow !important;}

.CodeMirror-hints.vscode-dark {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
  color: #9c9e9e;
  background-color: #3b3e3f !important;
}

.CodeMirror-hints.vscode-dark .CodeMirror-hint-active {
  background-color: #494d4e !important;
  color: #9c9e9e !important;
}

.CodeMirror-foldmarker {    
  font-family: arial;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: #aaa;
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}

/* .CodeMirror-hscrollbar {
  height: 0 !important;
} */