:root {
  --body-bg: #700;
  --focus-bg: #eee;
  --border-bg: #ccc;
  --blog-border-width: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  background: #700;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
}

#__next {
  display: flex;
  justify-content: center;
  background: #ddd;
}

a {
  color: #00f;
  text-decoration: none;
}

.scrollable ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  overflow: auto;
}

.scrollable ::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable ::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}