$level-background: white;
$level-floor-fill: white;
$level-navigable-fill: #eee;
$level-navigable-stroke: #ccc;
$level-node-color: rgba(0, 0, 100, 0.1);
$level-grid-color: rgba(0,0,0,0.5);
$level-grid-refined-color: rgba(0,0,200,0.3);

// TODO dark mode
