// Theme
$level-bg-light: white;
$level-bg-dark: black;

$level-menu-light: black;
$level-menu-dark: black;

$level-text-light: black;
$level-text-dark: white;

$level-floor-light: white;
$level-floor-dark: black;

$level-wall-light: black;
$level-wall-dark: white;

$level-navigable-light: #eee;
$level-navigable-dark: #222;

$level-triangle-light: #ccc;
$level-triangle-dark: #333;

$level-grid-light: rgba(0,0,0,0.5);
$level-grid-refined-light: rgba(0,0,200,0.3);

$level-grid-dark: rgba(200, 200, 200,0.5);
$level-grid-refined-dark: rgba(200, 200 , 200,0.3);

$level-navnode-light: rgba(200, 0, 0, 0.4);
$level-navnode-dark: rgba(200, 200, 200, 0.3);;

$level-drag-fill-light: white;
$level-drag-stroke-light: black;

$level-drag-fill-dark: black;
$level-drag-stroke-dark: white;

$level-navpath-light: black;
$level-navpath-dark: white;
