$level-background: white;
$level-floor-fill: white;
$level-navigable-fill: #eee;
$level-navigable-stroke: #ccc;
$nav-box-color: black;
$nav-box-dimension: 80px;
$nav-line-thickness: 2px;
$nav-node-color: rgba(0, 0, 100, 0.1);
$level-grid-color: rgba(0,0,0,0.5);
$level-grid-refined-color: rgba(0,0,200,0.3);

// TODO dark mode
// $nav-line-thickness: 8px;
// $level-background: black;
// $level-navigable-bg: #222;
// $nav-navigable-stroke: none;
// $nav-box-color: white;
// $nav-node-color: white;
// $level-grid-color: rgba(200,200,200,0.6);