.root {
  border: 1px solid #aaa;
}

.grid-rect {
  stroke: #ccc;
  stroke-width: 0.5;
}

.grid-path {
  stroke: rgba(0, 0, 0, 0.2);
}

.info {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}
