.root {
  position: relative;
  margin-bottom: -12px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

.top-border {
  border-top: 1px solid #ddd;
  transform: translateX(-32px);
  width: calc(100% + 32px);
}

.right-meta {
  display: flex;
  justify-content: flex-end;

  .date-and-number {
    color: #333;
    padding: 2px 4px;
  }
}
