.root {
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    align-items: center;
  }

  .header {
    background: #eee;
    padding: 30px 0 16px 40px;
    border-top: 10px solid #000;
  }

  .body {
    margin-right: 30px;
    @media (min-width: 800px) {
      width: calc(100vw - 30px);
    }
    @media (min-width: 1020px) {
      margin-right: 0px;
      width: 1000px;
    }
  }

  blockquote {
    color: #555;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
  }

  a {
    color: #555;
  }

  p {
    line-height: 1.4;
  }

  ul {
    // list-style: lower-latin;
    line-height: 1.6;
  }
}

.title {
  margin: 0;
}

.svg-title {
  height: 80px;
  .text {
    font: bold 80px sans-serif;
    font-family: "Helvetica-Now";
  }
}

.links {
  display: flex;
  // justify-content: center;

  font-family: "Courier New", Courier, monospace;
  font-size: 12px;

  > a {
    margin-right: 10px;
    padding: 4px 8px;

    display: block;

    text-decoration: none;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #eee;

    &:hover {
      color: #555;
      transition: all 0.4s ease-in;
      border: 1px solid #999;
    }
    &:not(:hover) {
      color: #aaa;
      transition: all 0.4s ease-out;
    }

    &.enabled {
      color: #222;
      background: white;
      border: 1px solid #999;
    }
  }
}

.empty-footer {
  height: 100vh;
}
