.root {
  padding: 12px;

  .title {
    font-size: 48px;
    margin: 12px 0;
    @media (max-width: 600px) {
      margin: 0 0 12px;
    }

    .subatomic {
      color: #900;
    }
  }

  .links {
    display: grid;
    grid-template-columns: 45px 45px 45px 45px;
    
    a {
      color: #33d;
    }

    .enabled {
      font-weight: bold;
    }
  }
}
