.root {
  padding: 24px 48px;
  border: 12px solid #eee;
  display: grid;
  font-family: sans-serif;

  .title {
    font-size: 64px;
    margin: 24px 0 28px;
    .subatomic {
      color: #900;
    }
  }

  @media (max-width: 600px) {
    padding: 16px 12px;
    border: 8px solid #eee;

    .title {
      font-size: 48px;
      margin: 16px 0 20px;
    }
  }

  .separator {
    height: 1px;
    background: rgba(0, 0, 100, 0.2);
  }

  .links {
    font-size: 14px;
    max-width: 400px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 4px 12px;
    background: #000;
    border-radius: 5px;


    a {
      color: #aaa;
      text-decoration: none;
      text-align: center;
      padding: 2px;
      // border: 1px dashed #000;

      &.enabled {
        color: #fcc;
      }
      &:hover:not(.enabled) {
        color: #fff;
      }
    }

  }
}
