.root {
  padding-top: 10px;
  padding-left: 32px;
  border-left: 1px solid #ddd;

  // font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  // font-family: "Tisaweb-Regular";
  font-family: "Helvetica-Now";
  font-size: 18px;
}
