.root {

  font-family: sans-serif;
  font-weight: lighter;
  font-size: 18px;

  @media (min-width: 600px) {
    border: none;
    padding-right: 20px;
  }
  @media (min-width: 1268px) {
    padding-right: 0px;
  }
}
