.svg-root {
  position: absolute;
  z-index: -10;
}

.svg-navigable {  
  
  &.pending {
    opacity: 0;
    transition: .3s opacity ease-out;
  }

  &.ready {
    opacity: 1;
    transition: .5s opacity ease;
  }
}


.content-root {
  margin: 0 auto;
  overflow: hidden;
}