.svg-root {
  opacity: 1;
}

.svg-navigable {  
  
  &.pending {
    opacity: 0;
    transition: .3s opacity ease-out;
  }

  &.ready {
    opacity: 1;
    transition: .3s opacity ease;
  }
}


.content-root {
  position: absolute;
  top:0px;
  left:0px;
}
