@import '../variables.scss';

.root {
  position: relative;
  background: $nav-background;
}

.svg-root {
  opacity: 1;
}

.svg-navigable {  
  &.pending {
    opacity: 0;
    transition: .3s opacity ease-out;
  }

  &.ready {
    opacity: 1;
    transition: .3s opacity ease;
  }
}

.svg-navigable-outline {
  fill: $nav-navigable-bg;
  stroke: $nav-navigable-stroke;
}

.content-root {
  position: absolute;
  top:0px;
  left:0px;
}

.nav-spawn {
  width: 10px;
  height: 10px;
  background: #f00;
  border-radius: 5px;
}

.svg-nav-node {
  fill: $nav-node-color;
}

.svg-nav-edge {
  stroke: $nav-node-color;
}
