.root {
  display: flex;
  flex-direction: column;
  background: #333;

  svg {
    .edges {
      stroke: #f44;
    }
    .maximal-matching {
      stroke: white;
      stroke-dasharray: 5;
    }
  }

  .opts {
    display: flex;
    button {
      flex-grow: 1;
    }
  }
}
