.root {
  display: flex;
  flex-direction: column;
  background: #555;

  svg {
    .lower-bipartition {
      fill: white;
    }
    .upper-bipartition {
      fill: white;
    }
    .edges {
      stroke: #f00;
    }
    .maximal-matching {
      stroke: white;
      stroke-dasharray: 5;
    }
  }
}
