body {
  margin: 0;
}

.root {
  background: #000;
  height: 100vh;

  .menu {
    background: #222;
    color: #fff;
    box-sizing: border-box;
    padding: 8px 6px;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
  }
}
