:root {
  --list-indent: 36px;
}
@media(max-width: 400px) {
  :root {
    --list-indent: 24px;
  } 
}

body {
  padding: 0;
  margin: 0;
  background: #eee;
}

a {
  color: #00f;
  text-decoration: none;
}

a.new-tab-link::before {
  display: inline-block;
  content: '';
  background-image: url('/svg/ext-link-icon.svg');
  background-size: 13px 13px;
  height: 13px;
  width: 13px;
  margin-right: 4px;
}

* {
  box-sizing: border-box;
}

div.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  margin: 0 auto;
  
  max-width: 1000px;

}
@media(max-width: 700px) {
  div.main {
    margin: 0;
  }
}

div.main > section {
  padding: 32px 120px;
  margin: 48px 0;
  background: white;
  
}
@media(max-width: 1024px) {
  div.main > section {
    margin: 0;
  }
}
@media(max-width: 800px) {
  div.main > section {
    padding: 32px 64px;
  }
}
@media(max-width: 600px) {
  div.main > section {
    padding: 0 16px 16px 16px;
  }
}
