:root {
  --blog-indent: 48px;
  --list-indent: 36px;
  --tabs-vert-indent: 48px;
  --body-bg: #ddd;
  --blog-bg: #f6f6f6;
}
@media(max-width: 600px) {
  :root {
    --blog-indent: 8px;
    --list-indent: 24px;
    --tabs-vert-indent: 0px;
  } 
}

* {
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  margin: 0 auto;
  max-width: 1024px;
}
@media(max-width: 700px) {
  main {
    margin: 0;
  }
}

main > section {
  padding: 48px 64px;
}
@media(max-width: 1024px) {
  main > section {
    padding: 32px 64px;
    margin: 0;
  }
}
@media(max-width: 800px) {
  main > section {
    padding: 32px 64px;
  }
}
@media(max-width: 600px) {
  main > section {
    padding: 0;
  }
}

hr {
  height: 32px;
  border: none;
}

a {
  color: #00f;
  text-decoration: none;
}

a.new-tab-link::after {
  display: inline-block;
  content: '';
  background-image: url('/svg/ext-link-icon.svg');
  background-size: 13px 13px;
  height: 13px;
  width: 13px;
  margin-left: 4px;
}

.scrollable ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  overflow: auto;
}
.scrollable ::-webkit-scrollbar-track {
  background: transparent;
}
.scrollable ::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}