body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;

  background: #eee;
}

h1, h2, h3, h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

a {
  color: #00f;
  text-decoration: none;
}

a.new-tab-link::before {
  display: inline-block;
  content: '';
  background-image: url('/svg/ext-link-icon.svg');
  background-size: 13px 13px;
  height: 13px;
  width: 13px;
  margin-right: 4px;
}

* {
  box-sizing: border-box;
}

div.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  margin: 0 auto;
  
  max-width: 1000px;

}
@media(max-width: 700px) {
  div.main {
    margin: 0;
  }
}

div.main > section {
  padding: 32px 120px;
  margin: 48px 0;
  background: white;
  
}
@media(max-width: 1024px) {
  div.main > section {
    margin: 0;
  }
}
@media(max-width: 800px) {
  div.main > section {
    padding: 32px 64px;
  }
}
@media(max-width: 600px) {
  div.main > section {
    padding: 0 16px 16px 16px;
  }
}
