.root {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

.root > .centralDot {
  position: absolute;
  background: red;
  border-radius: 4px;
  top: calc(28px + (100% - 28px) * 0.5 - 2px);
  left: calc(50% - 2px);
  height: 4px;
  width: 4px;
}
